<div class="table">
  <div class="row header">
    <h2><%= @product.name %></h2>
  </div>
  <div class="row">
    <p>Origin: <%= @product.origin %></p>
    <p>Variety: <%= @product.variety %></p>
    <p>Notes: <%= @product.notes %></p>
    <p>Price: $<%= @product.price %></p>
  </div>
  <hr>
  <div class="row">
    <h2>Reviews</h2>
    <% if @product.reviews.any? %>
    <% @reviews.each do |review| %>
    <div>
      <h5><%= review.author %>, <%= review.rating %> stars</h5>
      <p><%= review.description %></p>
    </div>
    <% end %>
  <% else %>
    <p>There are no reviews yet! </p>
    <% end %>
    <p><%= link_to "Add a Review", new_product_review_path(@product) %></p>
  </div>
  <hr>
  <div class="row">
    <p><%= link_to "Edit This Product", edit_product_path(@product) %> |
    <%= link_to "Delete This Book", product_path, :data => {
                                                :confirm => "Are you sure?",
                                                :method => "delete"} %></p>
  </div>
</div>
