<div class="table">
  <div class="row header">
    <h1><%= @product.name %></h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>Origin: <%= @product.origin %></p>
      <p>Variety: <%= @product.variety %></p>
      <p>Notes: <%= @product.notes %></p>
      <p>Price: $<%= @product.price %></p>
    </div>
  </div>
</div>
